#aboutUs {
  margin-top: -60px;
  position: relative;
  z-index: 2;

  .row {
    row-gap: 50px;
  }

  .p16 {
    padding: 32px;
  }

  .star {
    width: 20px;
    text-align: center;
    margin-bottom: 10px;
    aspect-ratio: 1/1;
  }

  .text {
    text-align: center;
    font-size: 40px;
    color: #450210;
    width: 900px;
    font-weight: 500;
  }

  .aboutUs {
    background: #E7D8C3;
    padding: 0 16px;
    height: 100%;
  }

  .dot {
    height: 5px;
    width: 5px;
    background: #B5968B;
    border-radius: 50%;
  }

  .line {
    max-width: 150px;
    width: 100%;
    height: 1px;
    background: #B5968B;
  }

  .box {
    border-top-right-radius: 50px;
    background: #E7D8C3;
    height: 100px;
  }

  .box1 {
    border-top-left-radius: 50px;
    background: #E7D8C3;
    height: 100px;
  }

  .carpet {
    width: 100%;
    aspect-ratio: 1 / .7;
    object-fit: cover;
    border-radius: 15px;
  }

  .mg100 {
    margin-top: 25px;
  }

  .mg50 {
    margin-top: 12px;
  }

  .title {
    max-width: 260px;
    width: 100%;
    font-size: 32px;
    font-weight: 500;
    color: #450210;
  }

  .subTitle {
    max-width: 530px;
    font-size: 20px;
    width: 100%;
    color: #333333;
  }

  .yazi {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 10px;
  }

  .icon {
    img {
      width: 60px;
    }
  }

  .naxis {
    width: 100%;
    position: relative;
    right: 6px;
  }

  @media screen and (max-width: 992px){
    .p16 {
      padding:0px;
    }

    .row1 {
      flex-direction: column-reverse;
      row-gap: 25px;
    }
  }

  @media screen and (max-width: 400px){
    .text {
      font-size: 30px;
    }

    .title {
      font-size: 28px;
    }

    .subTitle {
      font-size: 18px;
    }
  }
}