#whyChooseUs {
  margin-top: -60px;
  position: relative;
  z-index: 2;

  .row {
    row-gap: 50px;
  }

  .p16 {
    padding: 32px;
  }

  .star {
    width: 20px;
    text-align: center;
    margin-bottom: 10px;
    aspect-ratio: 1/1;
  }

  .text {
    text-align: center;
    font-size: 40px;
    color: #450210;
    width: 900px;
    font-weight: 500;
    margin-top: 16px;
  }

  .aboutUs {
    background: #E9E6DB;
    padding: 0 16px;
    height: 100%;

    .row {
      margin-top: 50px;
      display: flex;
      align-items: center;
      justify-content: center;
    }
  }

  .dot {
    height: 5px;
    width: 5px;
    background: #B5968B;
    border-radius: 50%;
  }

  .line {
    max-width: 150px;
    width: 100%;
    height: 1px;
    background: #B5968B;
  }

  .box {
    border-top-right-radius: 50px;
    background: #E9E6DB;
    height: 100px;
  }

  .box1 {
    border-top-left-radius: 50px;
    background: #E9E6DB;
    height: 100px;
  }

  .box2 {
    background: #E9E6DB;
    height: 100px;
  }

  .box3 {
    background: #E9E6DB;
    height: 100px;
  }

  .carpet {
    width: 40%;
    aspect-ratio: 1 / 1;
    object-fit: cover;
    border-radius: 15px;
  }

  .mg50 {
    margin-top: 25px;
  }

  .title {
    max-width: 260px;
    width: 100%;
    font-size: 32px;
    font-weight: 500;
    color: #450210;
  }

  .subTitle {
    max-width: 530px;
    width: 100%;
    color: #333333;
    display: flex;
    align-items: center;
    gap: 16px;
    margin-bottom: 15px;
    font-size: 24px;

    img {
      width: 20px;
    }
  }

  .yazi {
    display: flex;
    flex-direction: column;
    margin-top: 16px;

    @media (max-width: 992px) {
      margin-top: 0;
    }
    gap: 10px;
  }

  .icon {
    img {
      width: 60px;
    }
  }

  .naxis {
    width: 100%;
  }

  .zirt {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: -100px;

    img:nth-child(odd) {
      margin-left: 400px;
    }
  }

  .carr {
    margin-top: -25px;
  }

  .cart {
    margin-top: -50px;
  }

  @media screen and (max-width: 992px) {
    .p16 {
      padding: 0px;
    }

    .mg100 {
      margin-top: 50px;
    }

    .row1 {
      flex-direction: column-reverse;
      row-gap: 25px;
    }

    .zirt {
      display: flex;
      flex-direction: column;
      align-items: center;

      margin-left: -80px;

      img:nth-child(odd) {
        margin-left: 300px;
      }
    }

    .carr {
      margin-top: -10px;
    }

    .cart {
      margin-top: -20px;
    }


    .cart {
      margin-top: -50px;
    }
  }

  @media screen and (max-width: 400px) {
    .p16 {
      padding: 0px;
    }

    .row1 {
      flex-direction: column-reverse;
      row-gap: 25px;
    }

    .text {
      font-size: 28px;
    }

    .subTitle {
      font-size: 18px;

      img {
        width: 20px;
      }
    }

    .zirt {
      display: flex;
      flex-direction: column;
      align-items: center;

      margin-left: -80px;

      img:nth-child(odd) {
        margin-left: 275px;
      }
    }
  }

  .carr {
    margin-left: -200px;

    @media (max-width: 992px) {
      margin-left: -75px;
    }
  }
}